/* MAIN */

/* body {
    width: 100%; 
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    font-size: 28px;
} */
body {
    font-family: Arial, sans-serif;
    /* font-family: "Gill Sans", sans-serif; */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 28px;
    /* padding: 10px; */
    /* Добавляем отступы для мобильных устройств */
}

.closeButton {
    cursor: pointer;
}

.wrapper {
    height: calc(100vh - 101px);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: none;
}

#games {
    display: block;
}

/* GAMES */
#games {
    display: flex;
    flex-direction: column;
    /* width: 200px; */
}

.bt {
    padding: 20px 30px;
    /* Крупные кнопки */
    font-size: 24px;
    /* Крупный текст */
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    /* Скругленные углы */
    width: 100%;
    /* Кнопки на всю ширину */
    transition: background-color 0.3s;
}

/*  */
.menu {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 850px;
    /* Шире для мобильных устройств */
}

.menu h1 {
    margin-bottom: 30px;
    /* Больше отступ */
    font-size: 52px;
    /* Крупный заголовок */
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 15px 0;
    /* Больше отступ между кнопками */
}

.menu-bt {
    padding: 20px 30px;
    /* Крупные кнопки */
    font-size: 48px;
    /* Крупный текст */
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    /* Скругленные углы */
    width: 100%;
    /* Кнопки на всю ширину */
    transition: background-color 0.3s;
}

/* .menu-bt:hover {
    background-color: #0056b3;
} */

.hidden {
    display: none;
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 500px; */
    /* Шире для мобильных устройств */
}

#game-container button {
    margin-bottom: 20px;
    padding: 15px 25px;
    /* Крупные кнопки */
    font-size: 20px;
    /* Крупный текст */
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    /* Скругленные углы */
    transition: background-color 0.3s;
}

#game-container button:hover {
    background-color: #0056b3;
}

#game-content {
    font-size: 20px;
    /* Крупный текст в контенте игры */
}

/* Медиа-запросы для устройств с шириной экрана менее 600px */
@media (min-width: 800px) {
    .menu h1 {
        font-size: 38px;
        /* Чуть меньше заголовок для очень маленьких экранов */
    }

    .menu-bt {
        font-size: 20px;
        /* Чуть меньше текст кнопок */
        padding: 18px 25px;
        /* Чуть меньше padding */
    }

    #game-container button {
        font-size: 18px;
        /* Чуть меньше текст кнопок */
        padding: 15px 20px;
        /* Чуть меньше padding */
    }

    #game-content {
        font-size: 18px;
        /* Чуть меньше текст в контенте игры */
    }
}

/*  */