.svg-canvas {
  background-color: blanchedalmond;
  border-radius: 0px 0px 5px 5px;
}
.ball {
  animation-duration: 4s;
  animation-name: ballScale;
}

@keyframes ballScale {
  from {
    r: 1;
  }

  50% {
    r: 10;
  }

  to {
    r: 0;
  }
}
